<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs', {title}) -%>
  <body>
    <%- include('./includes/sidebar.ejs') -%>
    <main class="Main">
      <h1 class="Main__heading"><%= title %></h1>
      <form class="Form" action="/item/new" method="post">
        <input
          type="hidden"
          name="_id"
          value="<%= (locals._id === undefined) ? undefined : _id %>"
        />
        <div class="Form__field">
          <label class="Form__label" for="name">Item Name</label>
          <input
            class="Form__input"
            type="text"
            name="name"
            placeholder="Phone,&nbsp;Backpack,&nbsp;etc."
            required
            value="<%= (locals.name === undefined) ?
          '' : name %>"
          />
        </div>
        <div class="Form__field">
          <label class="Form__label" for="name">Description</label>
          <textarea
            class="Form__textarea"
            type="text"
            name="description"
            placeholder="A short description"
            rows="4"
            required
          >
<%= (locals.description === undefined) ? '' : description %></textarea
          >
        </div>

        <div class="Form__field">
          <label class="Form__label" for="category">Category</label>
          <select name="category" class="Form__input" required>
            <% availableCategories.forEach(category => { %>
            <option value="<%= category._id %>"><%= category.name %></option>
            <% }) %>
          </select>
        </div>

        <div class="Form__field">
          <label class="Form__label" for="price">Price ($)</label>
          <input
            class="Form__input"
            type="number"
            step="0.01"
            name="price"
            placeholder="19.84"
            required
            value="<%= (locals.price === undefined) ?
          '' : price %>"
          />
        </div>

        <div class="Form__field">
          <label class="Form__label" for="in_stock">Quantity</label>
          <input
            class="Form__input"
            type="number"
            name="in_stock"
            placeholder="3"
            required
            value="<%= (locals.in_stock === undefined) ?
          '' : in_stock %>"
          />
        </div>

        <button class="Form__button Form__button__submit" type="submit">
          Submit
        </button>

        <% if (locals.errors) { %>
        <div class="Form__error">
          <h2 class="Form__error__heading">Errors</h2>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>Errors</title>
            <path
              fill="currentColor"
              d="M13 14H11V9H13M13 18H11V16H13M1 21H23L12 2L1 21Z"
            />
          </svg>
        </div>
        <div class="Form__error-list">
          <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
          </ul>
        </div>
        <% } %>
      </form>
    </main>
  </body>
</html>
